.m-site-image{
  margin: 40px;
}

.m-left-button{
  border: 1px solid #4CCAAE;
  /* margin: 10px; */
  /* height: 21px; */
  display: inline-block;
  float: left;
  line-height: 20px;
  color: #4CCAAE;
  margin: 20px 0;
  padding: 5px 15px;
  border-radius: 20px;
  img{
    margin-right: 10px;
  }
}

.m-right-button{
  background-color: #4CCAAE;
  /* margin: 10px; */
  /* height: 21px; */
  display: inline-block;
  float: right;
  line-height: 20px;
  color: white;
  margin: 20px 0;
  padding: 5px 15px;
  border-radius: 20px;
  img{
    margin-right: 10px;
  }
}

.m-header-wraper{
  width: 960px;
  margin: 0 auto;
}
