.m-container
  .m-header
    div.m-header-wraper POSTMARKET.KZ
      //div.m-left-button
      //  img(src='assets/images/arrow-left.svg')
      //  | Назад
      div.m-right-button
        img(src='assets/images/play.svg')
        | Запустить
  .m-main-middle
    img.m-site-image(src='assets/images/Theme.svg')

