.m-choice-image {
  .m-choice-item-set {
    margin-bottom: 15px !important;
    .m-choice-items {
      width: 200px !important;
      height: 200px !important;
    }
  }
}

.m-input-file{
  cursor : pointer;
  position : absolute;
  height : calc(100% + 0px);
  width : calc(100%);
  background : green;
  top : 0;
  left : 0;
  display : block;
  opacity : 0;
}
