.m-container.m-choice-image
  .m-header POSTMARKET.KZ
  .m-main-middle
    .m-cell
      div {{m.title}}
      div.m-set-image.m-choice-item-set(ng-show='m.download')
        div.m-item-image.m-choice-items(ng-repeat='item in m.images',align="center")
          div.m-image
            img(src='assets/images/products/{{item.path}}.svg')
      div(style='padding: 20px 70px;')
        //(ng-click='m.clickButton()')
        div.m-button(ng-click='m.clickButton2()')
          input.m-input-file(ng-show='!m.download',type='file', multiple,ng-model='m.asd',onchange='angular.element(this).scope().clickButton()')
          | {{m.titleButton}}
