div.m-container
   div.m-top-title POSTMARKET.KZ
   div.m-main-middle
     div.m-cell
        div.m-title
           span.m-first
              = 'Cоздайте свой сайт'
           acme-malarkey.m-second(extra-values="['за 5 минут', 'бесплатно', 'в 3 клика', 'c закрытыми глазами', 'самостоятельно' ]")
              //= ' за 5 минут'
                acme-malarkey(extra-values="['Yeoman', 'Gulp', 'Angular']")

           br
        div.m-description
           = 'Простая и легкая платформа для создания'
           br
           = ' интернет-магазинов от АО "Казпочта"'
        div.m-button(ui-sref="typeSite") СОЗДАТЬ
   //img.m-bg-image(src='assets/images/Footer.svg')
