@gray : #333333;
@dark-gray: #272727;
@green : #4CCAAE;
@white : white;

body{
  font-size: 16px;

}

.m-button{
  color: @white;
  background-color: @green;
  -webkit-border-radius:25px;
  -moz-border-radius:25px;
  border-radius:25px;
  height: 50px;
  padding: 10px 70px;
  display: inline;
  cursor: pointer;
  position: relative;
}


.m-container{
  text-align: center;
  position: relative;
  height: 100vh;
  .m-top-title{
    font-size: 1em;
    font-weight: 400;
    padding: 5vh;
  }

  .m-main-middle{
    height: calc(~"100% - 1em - 10vh");
    display: table;
    width: 100%;
    .m-cell{
      display: table-cell;
      vertical-align: middle;
    }
    .m-title{
      font-size: 3.125em;
      .m-first{
        color: @dark-gray;
      }
      .m-second{
        color: @green;
      }
    }
    .m-description{
      font-size: 1.5em;
      color: @gray;
      font-weight: 300;//light
      padding-top: 25px;
      padding-bottom: 50px;
    }
  }
  .m-bg-image{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

