.m-container
  .m-header POSTMARKET.KZ
  .m-main-middle
    .m-cell
      div(style='font-size: 29px;') Выберите тип сайта
      div.m-set-image(ui-sref='categorySite')
        div.m-item-image.m-type-site
          div.m-image
            img(src='assets/images/online-shop.svg')
          div.m-caption.m-type-site-caption Посадочная страница
        div.m-item-image.m-type-site
          div.m-image
            img(src='assets/images/online-shop-2.svg')
          div.m-caption.m-type-site-caption Каталог товаров
