
.m-set-image{
  overflow: hidden;
  transition: all ease-out 1.5s;
  .m-item-image{
    display: inline-block;
    width: 135px;
    height: 180px;
    //margin: 10px;
    position: relative;
    margin: 20px 30px;
    cursor: pointer;
    .m-hover{
      display: none;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      width: 135px;
      height: 135px;
      background-color: rgba(76, 202, 174, 0.5);
      img {
        margin: 50px 0;
      }
    }

    .mdisplay{
      display: block !important;
    }

    .m-image{
      width: 135px;
      height: 135px;
      &:hover {
        .m-hover {

          display: block;

        }
      }
    }
    .m-caption{
      width: 135px;
      padding-top: 10px;
    }
  }
}

.m-type-site{
  width: 178px !important;
}

.m-type-site-caption{
  width: 178px !important;
}
