.acme-malarkey {
  //text-transform: capitalize;
  color: #4CCAAE;
  transition: all ease-out 1.5s;

  &:after {
    animation: cursor-blink 0.8s linear infinite;
    content: "|";
    color: #4CCAAE;
  }
}

@keyframes cursor-blink {
  1% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
