/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap/less/variables.less
 */
@navbar-inverse-link-color: #5AADBB;
@icon-font-path: '../../bower_components/bootstrap/fonts/';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector

.m-container{
  text-align: center;
  position: relative;
  height: 100vh;
}

.m-header{
  height: 75px;
  line-height: 75px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #F2F2F2;
  position: relative;
}
.m-main-middle {
  background: white;
  height: calc(~"100% - 75px");
  display: table;
  width: 100%;
  .m-cell {
    display: table-cell;
    vertical-align: middle;
  }
}


.m-input{
  width: 50%;
  margin: 0 auto;
}
