//.fade.ng-enter {
//  transition:0.5s linear all;
//  opacity:0;
//}

/* The finishing CSS styles for the enter animation */
.fade{
  opacity: 1;
}

.fade.ng-enter {
  transition:10.5s linear all;
  opacity:1;
}


.fade.ng-enter {
  animation: my_fade_animation 0.5s linear;
  -webkit-animation: my_fade_animation 0.5s linear;
}

@keyframes my_fade_animation {
  from { opacity:0;
  margin-top: 120px;}
  to { opacity:1;
  margin-top: 20px}
}

@-webkit-keyframes my_fade_animation {
  from { opacity:0;
    margin-top: 120px;}
  to { opacity:1;
    margin-top: 20px}
}

//.animate-enter {
//  -webkit-animation: enter 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
//  animation: enter 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
//  display: block;
//  position: relative;
//}
//@-webkit-keyframes enter {
//  from {
//    opacity: 0;
//    height: 0px;
//  }
//  20% {
//    opacity: .5;
//  }
//  40% {
//    opacity: .15;
//    color: red;    	    }
//  60% {
//    opacity: .75;
//  }
//  80% {
//    opacity: .3;
//  }
//  to {
//    opacity: 1;
//    height: 30px;
//  }
//}
//@keyframes enter {
//  from {
//    opacity: 0;
//    height: 0px;
//  }
//  20% {
//    opacity: .5;
//  }
//  40% {
//    opacity: .15;
//    color: red;    	    }
//  60% {
//    opacity: .75;
//  }
//  80% {
//    opacity: .3;
//  }
//  to {
//    opacity: 1;
//    height: 30px;
//  }
//}
//
//.animate-leave {
//  -webkit-animation: leave 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
//  animation: leave 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
//  display: block;
//  position: relative;
//}
//@-webkit-keyframes leave {
//  to {
//    opacity: 0;
//    height: 0px;
//  }
//  80% {
//    opacity: .25;
//  }
//  60% {
//    opacity: .10;
//    color: red;    	    }
//  40% {
//    opacity: .5;
//  }
//  20% {
//    opacity: .30;
//  }
//  from {
//    opacity: 1;
//    height: 30px;
//  }
//}
//@keyframes leave {
//  to {
//    opacity: 0;
//    height: 0px;
//  }
//  80% {
//    opacity: .25;
//  }
//  60% {
//    opacity: .10;
//    color: red;    	    }
//  40% {
//    opacity: .5;
//  }
//  20% {
//    opacity: .30;
//  }
//  from {
//    opacity: 1;
//    height: 30px;
//  }
//}
