.m-container
  .m-header POSTMARKET.KZ
  .m-main-middle
    .m-cell
      div.m-input
        md-autocomplete(flex='',
        required='', md-input-name='autocompleteField',
        md-input-minlength='2', md-input-maxlength='18',
        md-no-cache='ctrl.noCache',
        md-selected-item='m.selectedItem',
        md-search-text='m.searchText',
        md-items='item in m.items',
        md-item-text='item.display',
        md-require-match='',
        md-selected-item-change="m.selectedItemChange(item)"
        md-floating-label='Введите название категории')
          md-item-template
            span(md-highlight-text='ctrl.searchText') {{item.display}}
          //div(ng-messages='searchForm.autocompleteField.$error', ng-if='searchForm.autocompleteField.$touched')
          //  div(ng-message='required')
          //    | You
          //    b must
          //    |  have a favorite state.
          //  div(ng-message='md-require-match') Please select an existing state.
          //  div(ng-message='minlength') Your entry is not long enough.
          //  div(ng-message='maxlength') Your entry is too long.
          //  (ng-show='m.selectedItem')
      div.m-set-image
        div.m-item-image.fade(ng-animate="'animate'",ng-repeat='item in m.images',align="center", ng-click='m.click(item)')
          div.m-image
            img(src='assets/images/makets/{{item.path}}.svg')
            div.m-hover(ng-class="{mdisplay : item.show}")
              img(src='assets/images/check.svg')
          div.m-caption {{item.caption}}
      div
        div.m-button(ui-sref="choiceImage", ng-show='m.selectedItem') СОЗДАТЬ
